/* Minimal Cropper.js styles adapted for this project.
   This keeps the default crop box, overlay, and handles visible
   without changing your existing design. */

.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.cropper-container img {
  display: block;
  max-width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-crop-box,
.cropper-drag-box,
.cropper-modal,
.cropper-view-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cropper-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.cropper-view-box {
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
}

.cropper-dashed {
  border: 0 dashed rgba(255, 255, 255, 0.5);
  position: absolute;
}

.cropper-dashed.dashed-h {
  border-bottom-width: 1px;
  border-top-width: 1px;
  height: 33.3333%;
  left: 0;
  right: 0;
  top: 33.3333%;
}

.cropper-dashed.dashed-v {
  border-left-width: 1px;
  border-right-width: 1px;
  top: 0;
  bottom: 0;
  left: 33.3333%;
  width: 33.3333%;
}

.cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.cropper-center::before,
.cropper-center::after {
  position: absolute;
  display: block;
  background-color: #fff;
  content: '';
}

.cropper-center::before {
  top: 0;
  left: -3px;
  width: 7px;
  height: 1px;
}

.cropper-center::after {
  left: 0;
  top: -3px;
  width: 1px;
  height: 7px;
}

.cropper-face,
.cropper-line,
.cropper-point {
  position: absolute;
  display: block;
}

.cropper-face {
  background-color: transparent;
}

.cropper-line {
  background-color: rgba(255, 255, 255, 0.5);
}

.cropper-line.line-e,
.cropper-line.line-w {
  top: 0;
  bottom: 0;
  width: 1px;
}

.cropper-line.line-e {
  right: -3px;
}

.cropper-line.line-w {
  left: -3px;
}

.cropper-line.line-n,
.cropper-line.line-s {
  left: 0;
  right: 0;
  height: 1px;
}

.cropper-line.line-n {
  top: -3px;
}

.cropper-line.line-s {
  bottom: -3px;
}

.cropper-point {
  width: 7px;
  height: 7px;
  background-color: #39f;
  opacity: 0.75;
}

.cropper-point.point-e,
.cropper-point.point-w {
  top: 50%;
  margin-top: -3px;
}

.cropper-point.point-e {
  right: -4px;
}

.cropper-point.point-w {
  left: -4px;
}

.cropper-point.point-n,
.cropper-point.point-s {
  left: 50%;
  margin-left: -3px;
}

.cropper-point.point-n {
  top: -4px;
}

.cropper-point.point-s {
  bottom: -4px;
}

.cropper-point.point-ne {
  right: -4px;
  top: -4px;
}

.cropper-point.point-nw {
  left: -4px;
  top: -4px;
}

.cropper-point.point-se {
  right: -4px;
  bottom: -4px;
}

.cropper-point.point-sw {
  left: -4px;
  bottom: -4px;
}

/* Make sure cursor shows resize handles so user can manipulate the crop box */
.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-crosshair {
  cursor: crosshair;
}

.cropper-point.point-e,
.cropper-point.point-w {
  cursor: ew-resize;
}

.cropper-point.point-n,
.cropper-point.point-s {
  cursor: ns-resize;
}

.cropper-point.point-ne,
.cropper-point.point-sw {
  cursor: nesw-resize;
}

.cropper-point.point-nw,
.cropper-point.point-se {
  cursor: nwse-resize;
}
